{% extends "base.html" %}

{% block content %}
<h1>Edit profile</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.about_me.label }}
        {{ form.about_me(cols=50, rows=4) }}
        {% for error in form.about_me.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}