{% extends "base.html" %}

{% block content %}
    <div>
        <img
            src="{{ user.avatar(size=128) }}"
            alt="{{ user.username }} profile photo">
        <h1>{{ user.username }}</h1>
        {% if user.about_me %}{{ user.about_me }}{% endif %}
        {% if current_user == user %}
        <p><a href="{{ url_for('main.edit_profile') }}">Edit profile</a></p>
        {% endif %}
    </div>
    <hr>
    {% for post in posts %}
    {% include "_post.html" %}
    <hr>
    {% endfor %}
{% endblock %}