{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <div class="row mb-4">
        <div class="col-auto">
            <img src="{{ user.avatar(size=256) }}" alt="{{ user.username }} profile photo">
        </div>
        <div class="col">
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>{{ user.following_count() }} following, {{ user.followers_count() }} followers</p>
            {% if not current_user.is_anonymous %}
                {% if current_user == user %}
                    <p><a href="{{ url_for('main.edit_profile') }}">Edit profile</a></p>
                {% elif current_user.is_following(user) %}
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow', class='btn btn-danger btn-sm mb-2') }}
                    </form>
                {% else %}
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow', class='btn btn-primary btn-sm mb-2') }}
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% for post in posts %}
        {{ macros.post(post, detail=True) }}
    {% endfor %}
    {% if prev_url or next_url %}{% include "_pagination.html" %}{% endif %}
{% endblock %}