.post:hover {
    background-color: #eee;
    transition: .7s;
}

.author-url {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.author-url:hover {
    text-decoration: underline;
}