{% extends "base.html" %}

{% block content %}
    <h1>Reset Password</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password2.label }}
            {{ form.password2 }}
            {% for error in form.password2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock %}