{% macro form_field(field, autofocus) %}
    {% if field.type == 'BooleanField' %}
        <div class="form-check mb-3">
            {{ field(class='form-check-input') }}
            {{ field.label(class='form-check-label') }}
        </div>
    {% elif field.type == 'TextAreaField' %}
        <div class="mb-3">
            {{ field.label(class='form-label') }}
            {% if autofocus %}
                {{ field(class='form-control' + ('is-invalid' if field.errors else ''), autofocus=True) }}
            {% else %}
                {{ field(class='form-control' + ('is-invalid' if field.errors else '')) }}
            {% endif %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
    {% elif field.type == 'SubmitField' %}
        {{ field(class='btn btn-primary mb-3') }}
    {% else %}
        <div class="mb-3">
            {{ field.label(class='form-label') }}
            {% if autofocus %}
                {{ field(class='form-control' + ('is-invalid' if field.errors else ''), autofocus=True) }}
            {% else %}
                {{ field(class='form-control' + ('is-invalid' if field.errors else '')) }}
            {% endif %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}


{% macro quick_form(form, action="", method="post", id="", novalidate=False) %}
    <form
        {% if action %} action="{{ action }}"{% endif %}
        {% if method %} method="{{ method }}"{% endif %}
        {% if id %} id="{{ id }}"{% endif %}
        {% if novalidate %} novalidate{% endif %}
    >
        {{ form.hidden_tag() }}
        {% for field, errors in form.errors.items() %}
            {% if form[field].widget.input_type == 'hidden' %}
                {% for error in errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% set ns = namespace(first_field=true) %}
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                {{ form_field(field, ns.first_field) }}
                {% set ns.first_field = false %}
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}


{% macro post(post, detail) %}
    <div class="p-3 border-bottom {%if detail %}post{% endif%}">
        <div class="d-flex">
            <div class="me-3">
                <img src="{{ post.author.avatar(size=36) }}" alt="{{ post.author.username }} profile photo">
            </div>
            <p>
                <a class="text-dark author-url" href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username}}
                </a>
            </p>
        </div>
        <p class="text-break m-0">{{ post.body }}</p>
        {% if detail %}
            <p class="mb-1"><a href="{{ url_for('main.post', post_id=post.id) }}">Show More</a></p>
        {% endif %}
    </div>
{% endmacro %}